@font-face {
    font-family: "consolef";
    font-style: normal;
    font-weight: 400;
    src: local("consolef"),
        url("fonts/consolef.woff2") format("woff2"),
        url("fonts/consolef.woff") format("woff");
}

@counter-style consolepr {
    system: cyclic;
    symbols: ">";
    suffix: " ";
}

@keyframes cursor {
    50% {background: transparent;}
}

body {
    background-color: black;
    
    font-family: "consolef";
    color: #00FF00;
}

.main li:not(.info){
    list-style-type: consolepr;
    padding-bottom: 4px;
}

.info {
    list-style-type: none;
    margin-left: -16px;
    
}

.inp input:focus{
    outline: none !important;
}

.inp input{
    background: none;
    border: none;
    width: 90vw;
    padding: 0;
    
    color: #00FF00;
    font-family: "consolef";
    font-size: 16px;
}
